<li class="nav-item dropdown show">
    <a class="btn dropdown-toggle" href="#" data-toggle="dropdown" >Admin</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Assign users to roles</a>
        <a class="dropdown-item" href="#">Maintain Cities</a>
        <a class="dropdown-item" href="#">Maintain Suburbs</a>
    </div>
</li>